# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# local caches
.gradle-user/
logs/
tmp_tinybiomes/
tmp_tinybiomes_user/
tmp_vanilla_12111/
*.javap.txt
_MinecraftServer_c.txt
